/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
footer,
header {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ol,
ul {
    list-style: none;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%)

### Neutral

- Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Karla](https://fonts.google.com/specimen/Karla)
- Weights: 400, 700 */



html {

    font-size: 68.5%;
    background-color: #fff;

}


body {
    box-sizing: border-box;
    padding: 3rem 2rem;
    max-width: 114rem;
    margin: 0 auto;
    height: 100vh;
    font-family: 'Karla', sans-serif;
    line-height: 1.5;
    background-color: hsl(204, 43%, 93%);
    position: relative;
}

.price-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 625px;
    display: flex;
    flex-wrap: wrap;

}

.price-box__section-1 {

    background-color: #fff;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    padding: 3rem 4rem 2rem;
}

.section-1__primary-heading {
    font-weight: 700;
    font-size: 1.8rem;
    color: hsl(179, 62%, 43%);
}

.section-1__secondary-heading {
    font-weight: 700;
    color: hsl(71, 73%, 54%);
    font-size: 1.4rem;
    margin: 1.5rem 0 1rem;
}

.section-1__details {
    font-size: 1.3rem;
    color: hsl(218, 22%, 67%);

}

.price-box__section-2 {
    background-color: hsl(179, 62%, 43%);
    color: white;
    width: 50%;
    border-radius: 0 0 0 1rem;
    padding: 3rem 4rem 2rem;

}

.section-2__primary-heading {
    font-weight: 400;
    font-size: 1.5rem;
}

.section-2__secondary-heading {
    margin: 0.8rem 0 0.1rem;
    font-size: 2.5rem;
    font-weight: 700;

}

span {

    font-weight: 400;
    font-size: 1.2rem;
    display: inline-block;
    transform: translate(0.5rem, -0.5rem);
    color: rgba(229, 239, 245, 0.685);

}

.section-2__details {

    font-size: 1.3rem;
    color: rgba(229, 239, 245, 0.938);

}

.btn--shadow {
    background-color: hsl(71, 73%, 54%);
    color: white;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 100%;
    font-size: 1.3rem;
    padding: 1.2rem;
    margin: 2.2rem 0 0;
    border-radius: 0.5rem;
    box-shadow: 0 1rem .7rem -0.8rem rgba(0, 0, 0, 0.40);
    transition: all .2s;
    transform: translateY(0);
}


.btn:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 1rem -0.8rem rgba(0, 0, 0, 0.40);
}

.btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem .8rem -0.4rem rgba(0, 0, 0, 0.2), inset rgba(42, 178, 176, 0.795);
    outline: none;
    border: none;
}



.price-box__section-3 {
    background-color: rgba(42, 178, 176, 0.795);
    color: white;
    width: 50%;
    border-radius: 0 0 1rem 0;
    padding: 3rem 4rem 2rem;

}

.section-3__primary-heading {
    font-weight: 400;
    font-size: 1.5rem;
}

.section-3__list {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(229, 239, 245, 0.685);
    margin: 1em 0 1em;
    line-height: 1.5;
}

.attribution {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 11px;
    text-align: center;

}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen (min-width: 6.7rem) {

    body {
        box-sizing: border-box;
        padding: 0;
        width: 100vw;
    }

    .price-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        display: flex;
        flex-wrap: wrap;

    }

    .price-box__section-2,
    .price-box__section-2,
        {

        width: 100%;
    }

}