html,
body,
div,
span,
h1,
h2,
h3,
p,
blockquote,
ul,
li,
footer,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ol,
ul {
    list-style: none;
}

/* Reset end */


html {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    line-height: 1;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(204, 43%, 93%);
    position: relative;
    top: 0;
    bottom: 0;
}

/* Headings & text */

.headings {
    font-weight: 400;
    font-size: 1.2rem;
    margin: 1.2rem 0 1.5rem;
}

.main-heading {
    font-weight: 700;
    font-size: 1.5rem;
    color: hsl(179, 62%, 43%);
}

.guarantee {
    color: hsl(71, 73%, 54%);
    font-size: 1.1rem;
    margin: 1rem 0;
}

.price-offer {
    color: white;
    font-size: 1rem;
    margin: 0.9rem 0;
}

.price {
    font-size: 2rem;
    font-weight: 700;

}

span {
    font-weight: 400;
    font-size: 1rem;
    opacity: 0.8;
    letter-spacing: 1px;
    margin: 0 0 0 0.5rem;
}

p {
    font-size: 1rem;
    color: hsl(218, 22%, 67%);
    margin: 1.5em 0;
    line-height: 2;
}

.why-us {
    font-size: 0.8rem;
    font-weight: 400;
    opacity: 0.8;
    margin: 1em 0 1em;
    line-height: 1.5;
}

/* layout */

.price-box {

    margin: 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 8px 3px 14px rgba(0, 0, 0, 0.01);
}

.layout-div {
    padding: 1rem 1rem 1.5rem 1.5rem;

}

.cost {
    background-color: hsl(179, 62%, 43%);
    color: white;
}

.price-container {
    display: flex;
    align-items: center;
    margin: 0 0 1rem;
}

button {
    color: white;
    background-color: hsl(71, 73%, 54%);
    font-size: 1.2rem;
    padding: 0.5em 4em;
    border: 1px solid hsl(71, 73%, 54%);
    border-radius: 4px;
    margin: 1.5rem 0 1rem;
    box-shadow: 0px 10px 45px -8px rgba(0, 0, 0, 0.40);
    transition-property: box-shadow;
    transition-duration: 0.5s;
}

button:hover,
button:focus {
    box-shadow: 0px 10px 45px -8px rgba(0, 0, 0, 0.70);

}

.about-us {
    color: white;
    background-color: hsl(179, 62%, 43%);
    opacity: 0.8;
}

@media (min-width: 540px) {

    body {

        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    section.price-box {
        margin: 2rem 2rem;
        min-width: 500px;
        max-width: 60%;
        min-height: 40%;
        justify-content: flex-end;
        flex-direction: row;
        flex-wrap: wrap;

    }


    .join-invite {

        flex: 2 1 100%;
    }

    .cost,
    .about-us {
        flex: 1 1 50%;
    }
}

.attribution {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 11px;
    text-align: center;

}

.attribution a {
    color: hsl(228, 45%, 44%);
}